/* src/Board.css */
.board-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
  
.header {
    font-size: 24px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}
   
/* src/Board.css */
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .post-content {
    flex-grow: 1; /* 확장하여 주 내용 영역을 차지하도록 설정 */
  }
  
  .nickname {
    margin-left: 20px; /* 내용과 닉네임 사이의 공간 */
    color: #888;
    font-size: 0.8em;
  }
  


.post:last-child {
    border-bottom: none;
}
  
.post h3 {
    margin-top: 0;
    color: #0056b3;
}
  
.post p {
    color: #666;
    line-height: 1.5;
}
  
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
  
.page-item {
    margin: 0 12px; /* 좌우 여백을 15px에서 12px로 조정 */
}

  
.page-link {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
  
.page-link:hover,
.page-link:focus {
    background-color: #0056b3;
}
  
.page-link[aria-current] {
    background-color: #004080;
}

